body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  font-size: 1vw;
}
a:hover {
  text-decoration: underline;
}
p {
  font-size: 1vw;
}
h2 {
  font-size: 2.5vw;
}
h3 {
  font-size: 2vw;
}
h4 {
  font-size: 1.5vw;
}

a,
p,
h2,
h3,
h4 {
  margin: 0.5vw;
}

br,
hr {
  height: 0.1vw;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
